<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
       App BMI
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <img src="../../assets/ชั่ง/images (1).png"/>
  <ion-card color="primary" class="ion-padding">

    <ion-item>
      <ion-input label="กรอกน้ำหนัก" color="light" placeholder="KG"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="กรอกส่วนสูง" color="light" placeholder="CM"></ion-input>
    </ion-item><br>
    <ion-button color="success" size="large" expand="block" shape="round">คำนวณ</ion-button>
  </ion-card>
   <br>
   <div class="ion-text-center">
    <ion-button color="primary" size="large" expand="block" shape="round">ผลลัพธ์</ion-button>
    <ion-button color="danger" size="large" expand="block" shape="round">แปรผล</ion-button>
  </div>
</div>
</ion-content>
